#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-y: auto;
}

.card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #eee;
  border-radius: 15px;
  padding: 20px;
  margin: 24px 0px;
  min-width: 450px;
}

.name-container {
  display: flex;
}

.card-cat {
  display: flex;
  align-items: flex-end;
}

.card-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #bf360b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}

@media only screen and (max-width: 425px) {
  #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .card {
    min-width: 320px;
  }
}
