.cat-container {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
  border-bottom: 2px solid #04aa6d;
}

.cat {
  background-color: #04aa6d;
  color: #fff;
  border-radius: 10px;
  padding: 4px 8px;
  cursor: pointer;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .cat-container {
    height: 170px;
  }
}
