#paginate {
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding: 24px 0px; */
  height: 60px;
  align-items: center;
}

.page {
  border: 2px solid #04aa6d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #04aa6d;
  font-weight: bold;
  margin: 4px;
  cursor: pointer;
}

.page.active {
  color: #fff;
  background-color: #04aa6d;
}
